.contact {
  background-color: #252e30;
  width: 100%;
}

.contact__container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 90%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.contact__wrapper {
  width: 34%;
}

.contact__headline {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 24px;
  margin: 0;
}

.contact__text {
  color: #919191;
  font-size: 16px;
  margin: 0;
}

.contact__desc {
  padding-top: 3%;
  padding-bottom: 3%;
}

.contact__info {
  color: #b6b9ba;
  margin: 0;
}

.contact__email {
  padding-top: 45px;
}

.contact__phone {
  padding-top: 2%;
}

.contact__span {
  padding-left: 3%;
}

.form__wrapper {
  width: 34%;
}

.form__name,
.form__email,
.form__textarea {
  background-color: #4b5456;
  border: none;
  font-size: 25px;
  color: white;
  padding-left: 10px;
}

.form__name,
.form__email {
  width: 100%;
  height: 56px;
}

.form__textarea {
  width: 100%;
  resize: none;
}

.form__label {
  color: #ffffff;
}

.form__text {
  margin: 0;
  padding-top: 10%;
  padding-bottom: 2%;
  font-size: 18px;
}

.form__input {
  color: #ffffff;
  background-color: #191f21;
  padding: 5%;
  font-size:16px;
  text-transform: uppercase;
  border: none;
  margin-top: 10%;
  transition: .5s all;
}

.form__input:hover {
  cursor: pointer;
  color: #191f21;
  background-color: #ffffff;
}

.footer {
  width: 100%;
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: #191f21;
}

.footer__copyright {
  padding-bottom: 2%;
  margin: 0;
  color: #485052;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
}

.footer__wrapper-icon {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
}

.footer__container {
  width: 30px;
  height: 30px;
  border: 1px solid #4b5456;
  border-radius: 100%;
  background-color: #4b5456;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1%;
}

.fab {
  font-size: 15px;
  color: #191f21;
}

.fab:hover {
  color: #ffffff;
}

@media (max-width: 768px) {
  .contact__container {
    flex-direction: column;
  }

  .contact__wrapper, .form__wrapper {
    width: 70%;
    margin: 0 auto;
    text-align: center;
  }

  .contact__headline {
    font-size: 32px;
    padding-bottom: 5%;
  }

  .contact__desc {
    padding-bottom: 10%;
  }

  .form__text {
    font-size: 15px;
    padding-top: 15%;
  }

  .form__name,
  .form__email {
    height: 100%;
  }

  .form__input {
    font-size: 14px;
  }

  .footer__copyright {
    font-size: 14px;
  }