body {
  color: white;
  background-color: #444;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.my_skills_wrapper {
  width: 100%;
  height: 650px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: white;
}

@media screen and (max-width: 768px) {
  .my_skills_wrapper {
    width: 100%;
    height: 650px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 450px;
    background-color: white;
  }
}

.my_skills--txt-container {
  height: 700px;
  padding: 10% 10% 5% 20%;
  box-sizing: border-box;
  color: #919191;
  background-color: white;
}

@media screen and (max-width: 768px) {
  .my_skills--txt-container {
    padding: 5% 10% 5% 10%;
  }
}

@media screen and (max-width: 576px) {
  .my_skills--txt-container {
    padding: 5% 10% 0 10%;
  }
}

.my_skills--header {
  text-transform: uppercase;
  color: #566366;
  font-size: 1.8em;
}

@media screen and (max-width: 992px) {
  .my_skills--header {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 768px) {
  .my_skills--header {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 570px) {
  .my_skills--header {
    margin-bottom: 20px;
    font-size: 1.2em;
  }
}

.my_skills--txt-container > p{
  line-height: 1.8em;
}
@media screen and (max-width: 992px) {
  .my_skills--txt-container > p{
    line-height: 1.6em;
    font-size: 1em;
  }
}

@media screen and (max-width: 576px) {
  .my_skills--txt-container > p{
    line-height: 1.6em;
    font-size: 0.8em;
  }
}

.my_skills--button {
  height: 60px;
  width: 185px;
  margin-top: 3%;
  background: none;
  border: 2px solid #2ecc71;
  color: #2ecc71;
  font-size: 16px;
  font-weight: 700;
  transition: 400ms linear;
}

.my_skills--button:hover {
  background: #2ecc71;
  border: 2px solid #2ecc71;
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .my_skills--button {
    display: none;
  }
}

.my_skills--button-mobile{
  display: none;
  }
  .my_skills--button-mobile:hover {
    background: #2ecc71;
    border: 2px solid #2ecc71;
    color: white;
    cursor: pointer;
  }

@media screen and (max-width: 768px){
.my_skills--button-mobile{
  display: block;
  height: 60px;
  width: 185px;
  margin-top: 45px;
  background: none;
  border: 2px solid #2ecc71;
  color: #2ecc71;
  font-size: 16px;
  font-weight: 700;
  transition: 400ms linear;
  }
}

@media screen and (max-width: 576px){
.my_skills--button-mobile{
  height: 40px;
  width: 160px;
  margin-top: 40px;
  color: #2ecc71;
  font-size: 0.8em;
  font-weight: 700;
  transition: 400ms linear;
  }
}

.my_skills--bar-container {
  position: relative;
  padding: 14% 20% 10% 0;
  background-color: white;
}
@media screen and (max-width: 768px) {
  .my_skills--bar-container {
    padding: 0 10% 10% 10%;
    margin-top: -80px;
  }
}

@media screen and (max-width: 576px) {
  .my_skills--bar-container {
    padding: 0 10% 10% 10%;
    margin-top: -130px;
  }
}

.my_skills--bar-container > p {
  text-transform: uppercase;
  color: #566366;
  font-weight: 700;
  font-size: 22px;
  margin: 40px 0 0 0;
}

.my_skills--bar-container > p:first-child {
  margin: 25px 0 0 0;
}

@media screen and (max-width: 992px) {
  .my_skills--bar-container > p {
    font-size: 1em;
  }
}

@media screen and (max-width: 576px) {
  .my_skills--bar-container > p {
    font-size: 0.8em;
    margin-top: 10px;
  }
}

.my_skills--bar {
  height: 30px;
  width: 100%;
  background-color: #f2f2f1;
}

@media screen and (max-width: 576px) {
  .my_skills--bar {
    height: 20px;
    width: 100%;
    background-color: #f2f2f1;
  }
}

.my_skills_bar--green-bar {
  height: 100%;
  background-color: #2ecc71;
}

.photoshop_bar {
  width: 90%;
}

.php_bar {
  width: 70%;
}

.my_skills--percents {
  text-align: right;
  padding: 5px 7px 0 0;
}

@media screen and (max-width: 576px) {
  .my_skills--percents {
    font-size: 0.7em;
    padding: 2px 7px 0 0;
  }
}
