body {
  color: white;
  background-color: #444;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.section_logo_nav_container {
  background: url("../assets/1.png");
  background-position: 50%;
  background-size: cover;
  height: 1094px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.section_logo_main_content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.section_logo_nav_text_container {
  margin: auto;
  margin-top: 52vh;
  color: white;
  font-size: 65px;
  width: 810px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  text-transform: uppercase;

  text-align: center;
  padding: 0;
}

.section_logo_nav_text_container p {
  margin: 10px 0;
  font-weight: 600;
}

a {
  text-decoration: none;
}

.section_logo_nav_logo_button {
  margin: auto;
  margin-bottom: 270px;
  text-align: center;
  font-size: 25px;
  color: white;
  width: 200px;
  padding: 20px;
  border: 2px solid white;
  text-transform: uppercase;
}

.section_logo_nav_nav_container {
  height: 60px;
  background: #252E30;
  display: flex;
  align-items: center;
}

.section_logo_nav_icon {
  height: 35px;
  width: 35px;
  font-size: 25px;
  text-align: center;
  line-height: 35px;
  font-weight: 600;
  background-color: #4B5456;
  margin-left: 15%;
  margin-right: 10px;
}

.section_logo_nav_name {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 600;
  flex: 0.55;
}

.section_logo_nav_dots {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 81.5vw;
  bottom: 35px;
  font-size: 10px;
}

.section_logo_nav_dots i {
  padding: 5px 0;
}

.section_logo_nav_name span {
  color: #2ECC71;
}

.section_logo_nav_links {
  color: white;
  font-size: 15px;
  height: 100%;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  padding: 0 30px;
  transition: color ease-in-out 0.3s;
}

.section_logo_nav_links:hover {
  color: #2ECC71;
}

@media only screen and (max-width: 1200px) {

  .section_logo_nav_container {
    height: 100vh;
  }

  .section_logo_nav_icon {
    margin-left: 5%;
  }

  .section_logo_nav_nav_container a {
    font-size: 12px;
  }
  .section_logo_nav_icon,
  .section_logo_nav_name {
    font-size: 20px;
  }

  .section_logo_nav_dots {
    display: none;
  }
}

@media only screen and (max-width: 992px) {

  .section_logo_nav_container {
    overflow-y: unset;
    height: unset;
  }

  .section_logo_nav_nav_container {
    flex-direction: column;
    height: unset;
  }

  .section_logo_nav_text_container {
    width: 95%;
    font-size: 30px;
  }

  .section_logo_nav_icon {
    height: 35px;
    width: 35px;
    font-size: 25px;
    text-align: center;
    line-height: 35px;
    font-weight: 600;
    background-color: #4B5456;
    margin-left: auto;
    margin-right: auto;
  }

  .section_logo_nav_name {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 600;
    flex: unset;
  }

  .section_logo_nav_links a {
    color: white;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    padding: 100px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }

  .section_logo_nav_nav_container a {
    font-size: 17px;
  }

  .section_logo_nav_name p {
    margin: 5px 0;
  }

  .section_logo_nav_text_container {
    margin-top: 45vh;
  }

  .section_logo_nav_logo_button {
    margin-bottom: 150px;
    margin-top: 50px;
  }

}